<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>社区后台管理系统</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.3.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<style>
  [v-cloak]{
    display: none;
  }
</style>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">社区后台管理系统</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item dropdown pe-3"><!--进入这个网址即登录或者再做一个登录界面-->

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <!-- <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle"> -->
            <span class="d-none d-md-block dropdown-toggle ps-2">Admin</span>
          </a><!--End Profile Iamge Icon-->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li>
              <a class="dropdown-item d-flex align-items-center" href="../Community">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

      <ul class="sidebar-nav" id="sidebar-nav">
  
        <li class="nav-item">
          <a class="nav-link collapsed" href="index.html">
            <i class="bi bi-grid"></i>
            <span>主页</span>
          </a>
        </li><!-- End Dashboard Nav -->
  
        <li class="nav-item">
          <a class="nav-link collapsed" href="user.html">
            <i class="bi bi-person"></i>
            <span>住户管理</span>
          </a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link collapsed" href="newsManage.html">
            <i class="bi bi-layout-text-window-reverse"></i>
            <span>社区新闻</span>
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link collapsed" href="realTime.html">
            <i class="bi bi-bar-chart"></i>
            <span>全国实时数据</span>
          </a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link collapsed" href="communityRealTime.html">
            <i class="bi bi-gem"></i>
            <span>社区实时数据</span>
          </a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link collapsed" href="communityNews.html">
            <i class="bi bi-card-list"></i>
            <span>社区疫情信息</span>
          </a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link collapsed" href="knowledge.html">
            <i class="bi bi-box-arrow-in-right"></i>
            <span>疫情知识</span>
          </a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link" href="chief.html">
            <i class="bi bi-file-earmark"></i>
            <span>社区负责人员</span>
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link collapsed" href="needs.html">
            <i class="bi bi-question-circle"></i>
            <span>需求反馈</span>
          </a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link collapsed" href="suggest.html">
            <i class="bi bi-envelope"></i>
            <span>意见反馈</span>
          </a>
        </li><!-- End Contact Page Nav -->
      </ul>
  
    </aside><!-- End Sidebar-->


  <main id="main" class="main">

    <div class="pagetitle">
      <h1>社区新闻管理</h1>
    </div><!-- End Page Title -->

    <section class="section" id="chief" v-cloak>
      <div class="row">
        <div class="col-lg-15">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">社区负责人</h5>
              <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">姓名</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" v-model="chiefName">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputPassword" class="col-sm-2 col-form-label">职位</label>
                <div class="col-sm-10">
                  <textarea class="form-control" style="height: 100px" v-model="chiefPosts"></textarea>
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputPassword" class="col-sm-2 col-form-label">电话</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" v-model="chiefTel">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputNumber" class="col-sm-2 col-form-label">照片</label>
                <div class="col-sm-10">
                  <input class="form-control" type="file" id="formFile"  @change="getChiefPicture">
                </div>
              </div>

              <div class="row mb-3">
                <label class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                  <button type="submit" class="btn btn-primary" @click="chiefClick">发布</button>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <button type="reset" class="btn btn-primary" @click="chiefReset">重置</button>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">负责人</h5>
              <!-- Active Table -->
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">姓名</th>
                    <th scope="col">职位</th>
                    <th scope="col">电话</th>
                    <th scope="col">照片</th>
                    <th scope="col">保存</th>
                    <th scope="col">删除</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in chiefArray" @click="chiefRowClick(item,$event)">
                    <th><input type="text" v-model="item.chiefName" @change="chiefNameChange(item.chiefName,$event)" class="col-sm-10 col-form-label"></input></th>
                    <th><input type="text" v-model="item.chiefPosts" @change="chiefPostsChange(item.chiefPosts,$event)" class="col-sm-10 col-form-label"></input></th>
                    <th><input type="text" v-model="item.chiefTel" @change="chiefTelChange(item.chiefTel,$event)" class="col-sm-10 col-form-label"></input></th>
                    <th><img :src="item.chiefPicture" width="50" height="50"></img></th>
                    <th><button @click="chiefUpdateClick" class="btn btn-primary">保存</button></th>
                    <th><button @click="chiefDeleteClick(item,$event)" class="btn btn-primary">删除</button></th>
                  </tr>
                </tbody>
              </table>
              <!-- End Active Table -->

            </div>
          </div>

        </div>
      </div>
    </section>

<script src="https://unpkg.com/vue@next"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script> 
<script type="module">
  
  import global from './global.js';
  axios.defaults.baseURL = global.host+":1337";

  var chiefPicture="../Community/assets/img/";
  var rowUD,newChiefNameChanged,newChiefPostsChanged,newChiefTelChanged;
  var filename,fileName,healthyCode,file;
  const chief=Vue.createApp({
    data(){
      return{
        chiefName:"",
        chiefPosts:"",
        chiefTel:"",
        chiefPicture:"",
        chiefArray:[]
        }
      },
      methods:{
        getChiefPicture(e){//得到图片名称-地址
          var forms=new FormData();
              var configs={
                headers:{'Content-Type':'multipart/form-data'}
              };
              forms.append('healthyFile',e.target.files[0]);
              console.log(e.target.files[0]);
              //文件上传！！！
              axios
                .post(global.host+":1337/api/v1/fileUpload",forms,configs)
            .then((response) => {
              console.log(response);
              console.log(response.data.files[0].fd);
              file=response.data.files[0].fd;

              var filename = file.lastIndexOf("\\");
              healthyCode=file.substring(filename+1);
              fileName="../Community/assets/img/"+healthyCode;
              // console.log(fileName);
            })
						.catch((error)=> {
							console.log(error);
						});
        },
        chiefClick:function(){//新闻发布-添加新闻-刷新
          // console.log(newsPicture);
          axios({
              method: 'get',
              url: global.host+":1337/api/v1/entrance/chiefCreate",
              params:{
                chiefName:this.chiefName,
                chiefPosts:this.chiefPosts,
                chiefTel:this.chiefTel,
                chiefPicture:fileName
              }
          }).then((response) => {
            location.reload();
          })
          .catch((error)=> {
            console.log(error);
          });
        },
        chiefReset:function(){
            this.chiefName="",
            this.chiefPosts="",
            this.chiefTel="",
            this.chiefPicture=""
        },
        chiefRowClick:function(item,e){//获取行号
          axios({
              method: 'get',
              url: global.host+":1337/api/v1/entrance/chiefItem",
              params:{
                chiefName:item.chiefName,
                chiefPosts:item.chiefPosts,
                chiefTel:item.chiefTel,
                chiefPicture:item.chiefPicture
              }
          }).then((response) => {
            rowUD=response.data;
            console.log(rowUD);
          })
          .catch((error)=> {
            console.log(error);
          });
        },
        chiefNameChange(chiefNameChanged,e){
          newChiefNameChanged=chiefNameChanged;
        },
        chiefPostsChange(chiefPostsChanged,e){
          newChiefPostsChanged=chiefPostsChanged;
        },
        chiefTelChange(chiefTelChanged,e){
          newChiefTelChanged=chiefTelChanged;
        },
        chiefUpdateClick:function(){//更改
          console.log(rowUD);
          axios({//得到这个行号原本的数据
              method: 'get',
              url: global.host+":1337/api/v1/entrance/chiefFindByRow",
              params:{
                row:rowUD
              }
          }).then((response) => {
            console.log(rowUD);
            if(response.data.chiefName!=newChiefNameChanged){//标题不同时数据库中改变
              axios({
              method: 'get',
              url: global.host+":1337/api/v1/entrance/chiefUpdate",
              params:{
                chiefPosts:response.data.chiefPosts,
                chiefTel:response.data.chiefTel,
                chiefPicture:response.data.chiefPicture,
                oldChiefName:response.data.chiefName,//传回来的值
                newChiefName:newChiefNameChanged
              }
              }).then((response) => {
                console.log(response);
                location.reload();//网页刷新
              }).catch((error)=> {
                console.log(error);
              });
            }
            if(response.data.chiefPosts!=newChiefPostsChanged){
              axios({
              method: 'get',
              url: global.host+":1337/api/v1/entrance/chiefUpdate",
              params:{
                chiefName:response.data.chiefName,
                chiefTel:response.data.chiefTel,
                chiefPicture:response.data.chiefPicture,
                oldChiefPosts:response.data.chiefPosts,//传回来的值
                newChiefPosts:newChiefPostsChanged
              }
              }).then((response) => {
                console.log(response);
                // location.reload();//网页刷新
              }).catch((error)=> {
                console.log(error);
              });
            }
            if(response.data.chiefTel!=newChiefTelChanged){
              axios({
              method: 'get',
              url: global.host+":1337/api/v1/entrance/chiefUpdate",
              params:{
                chiefName:response.data.chiefName,
                chiefPosts:response.data.chiefPosts,
                chiefPicture:response.data.chiefPicture,
                oldChiefTel:response.data.chiefTel,//传回来的值
                newChiefTel:newChiefTelChanged
              }
              }).then((response) => {
                console.log(response);
                // location.reload();//网页刷新
              }).catch((error)=> {
                console.log(error);
              });
            }
          })
          .catch((error)=> {
            console.log(error);
          });
        },
        chiefDeleteClick:function(item,e){
            axios({
              method: 'get',
              url: global.host+":1337/api/v1/entrance/chiefDelete",
              params:{
                chiefName:item.chiefName,
                chiefPosts:item.chiefPosts,
                chiefTel:item.chiefTel,
                chiefPicture:item.chiefPicture,
              }
          }).then((response) => {
            console.log(response);
            location.reload()//网页刷新
          })
          .catch((error)=> {
            console.log(error);
          });
        }
      },
      mounted(){//打开网页自动加载
          axios({
              method: 'get',
              url: global.host+":1337/api/v1/entrance/chiefAuto",
          }).then((response) => {
            for(var i=0;i<response.data.length;i++){
              this.chiefArray.push({chiefName:response.data[i].chiefName,chiefPosts:response.data[i].chiefPosts,
                chiefTel:response.data[i].chiefTel,chiefPicture:response.data[i].chiefPicture});
            }
          })
          .catch((error)=> {
            console.log(error);
          });
        }
    }).mount('#chief');
</script>


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="credits">
      Designed by <a href="https://bootstrapmade.com/">Yilia</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.min.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>