<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>社区后台管理系统</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.3.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<style>
  [v-cloak]{
    display: none;
  }
</style>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">社区后台管理系统</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item dropdown pe-3"><!--进入这个网址即登录或者再做一个登录界面-->

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <!-- <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle"> -->
            <span class="d-none d-md-block dropdown-toggle ps-2">Admin</span>
          </a><!--End Profile Iamge Icon-->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li>
              <a class="dropdown-item d-flex align-items-center" href="../Community">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

      <ul class="sidebar-nav" id="sidebar-nav">
  
        <li class="nav-item">
          <a class="nav-link collapsed" href="index.html">
            <i class="bi bi-grid"></i>
            <span>主页</span>
          </a>
        </li><!-- End Dashboard Nav -->
  
        <li class="nav-item">
          <a class="nav-link collapsed" href="user.html">
            <i class="bi bi-person"></i>
            <span>住户管理</span>
          </a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link collapsed" href="newsManage.html">
            <i class="bi bi-layout-text-window-reverse"></i>
            <span>社区新闻</span>
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link collapsed" href="realTime.html">
            <i class="bi bi-bar-chart"></i>
            <span>全国实时数据</span>
          </a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link collapsed" href="communityRealTime.html">
            <i class="bi bi-gem"></i>
            <span>社区实时数据</span>
          </a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link collapsed" href="communityNews.html">
            <i class="bi bi-card-list"></i>
            <span>社区疫情信息</span>
          </a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link collapsed" href="knowledge.html">
            <i class="bi bi-box-arrow-in-right"></i>
            <span>疫情知识</span>
          </a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link collapsed" href="chief.html">
            <i class="bi bi-file-earmark"></i>
            <span>社区负责人员</span>
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="needs.html">
            <i class="bi bi-question-circle"></i>
            <span>需求反馈</span>
          </a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link collapsed" href="suggest.html">
            <i class="bi bi-envelope"></i>
            <span>意见反馈</span>
          </a>
        </li><!-- End Contact Page Nav -->
      </ul>
  
    </aside><!-- End Sidebar-->


  <main id="main" class="main">

    <div class="pagetitle">
      <h1>社区新闻管理</h1>
    </div><!-- End Page Title -->

    <section class="section" id="needs" v-cloak>
      <div class="row">
        <div class="col-lg-15">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">居民需求</h5>
              <!-- Active Table -->
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">姓名</th>
                    <th scope="col">住处</th>
                    <th scope="col">需求</th>
                    <th scope="col">是否处理(是/否)</th>
                    <th scope="col">保存</th>
                    <th scope="col">删除</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in needsArray" @click="needRowClick(item,$event)">
                    <th>{{item.needName}}</th>
                    <th>{{item.tent+'-'+item.unit+'-'+item.room}}</th>
                    <th>{{item.needs}}</th>
                    <th><input type="text" v-model="item.needCheck" @change="needCheckChange(item.needCheck,$evemt)" class="col-sm-10 col-form-label"></input></th>
                    <th><button @click="needsUpdateClick" class="btn btn-primary">保存</button></th>
                    <th><button @click="needsDeleteClick(item,$event)" class="btn btn-primary">删除</button></th>
                  </tr>
                </tbody>
              </table>
              <!-- End Active Table -->

            </div>
          </div>

        </div>
      </div>
    </section>

<script src="https://unpkg.com/vue@next"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script> 
<script type="module">

  import global from './global.js';
  axios.defaults.baseURL = global.host+":1337";

  var rowUD,newNeedCheckChanged;
const needs=Vue.createApp({
  data(){
    return{
      needsArray:[],
      needName:"",
      tent:"",
      unit:"",
      room:"",
      needs:"",
      needCheck:"",
      }
    },
    methods:{
      needCheckChange(needCheckChanged,e){
            newNeedCheckChanged=needCheckChanged;
            // console.log(newNeedCheckChanged);
          },
      needRowClick:function(item,$event){
            axios({
                method: 'get',
                url: global.host+":1337/api/v1/entrance/needsItem",
                params:{
                  needName:item.needName,
                  tent:item.tent,
                  unit:item.unit,
                  room:item.room,
                  needs:item.needs,
                }
            }).then((response) => {
              rowUD=response.data;
              console.log(rowUD);
            })
						.catch((error)=> {
							console.log(error);
						});
          },
      needsUpdateClick:function(item,e){
        axios({//得到这个行号原本的数据
                method: 'get',
                url: global.host+":1337/api/v1/entrance/needsFindByRow",
                params:{
                  row:rowUD
                }
            }).then((response) => {
              console.log("1 ",response);
            if(response.data.needCheck!=newNeedCheckChanged){//不同时数据库中改变
              // console.log("response ",response.data.needCheck);
              // console.log("new ",newNeedCheckChanged);
                axios({
                method: 'get',
                url: global.host+":1337/api/v1/entrance/needsUpdate",
                params:{
                  needName:response.data.needName,
                  tent:response.data.tent,
                  unit:response.data.unit,
                  room:response.data.room,
                  needs:response.data.needs,
                  oldNeedCheck:response.data.needCheck,
                  newNeedCheck:newNeedCheckChanged
                }
                }).then((response) => {
                  console.log(response);
                  location.reload();//网页刷新
                }).catch((error)=> {
							    console.log(error);
						    });
              }
            }).catch((error)=> {
							    console.log(error);
						});
        },
        needsDeleteClick:function(item,e){//先得到是第几行 再根据行数删除  不然没办法单击即删除
              axios({
                method: 'get',
                url: global.host+":1337/api/v1/entrance/needsDelete",
                params:{
                  needName:item.needName,
                  tent:item.tent,
                  unit:item.unit,
                  room:item.room,
                  needs:item.needs,
                }
            }).then((response) => {
              console.log(response);
              location.reload()//网页刷新
            })
						.catch((error)=> {
							console.log(error);
						});
          },
      },
        mounted(){
          axios({
              method: 'get',
              url: global.host+":1337/api/v1/entrance/needsAuto",
            }).then((response) => {
              // console.log(response);
              for(var i=0;i<response.data.length;i++){
               this.needsArray.push({needName:response.data[i].needName,tent:response.data[i].tent,
                  unit:response.data[i].unit,room:response.data[i].room,needs:response.data[i].needs,
                   needCheck:response.data[i].needCheck});
              }
            })
				    .catch((error)=> {
					    console.log(error);
		      	});
        }
    }).mount('#needs');
</script>


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="credits">
      Designed by <a href="https://bootstrapmade.com/">Yilia</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.min.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>