<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>社区后台管理系统</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.3.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<style>
  [v-cloak]{
    display: none;
  }
</style>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">社区后台管理系统</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item dropdown pe-3"><!--进入这个网址即登录或者再做一个登录界面-->

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <!-- <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle"> -->
            <span class="d-none d-md-block dropdown-toggle ps-2">Admin</span>
          </a><!--End Profile Iamge Icon-->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li>
              <a class="dropdown-item d-flex align-items-center" href="../Community">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

      <ul class="sidebar-nav" id="sidebar-nav">
  
        <li class="nav-item">
          <a class="nav-link collapsed" href="index.html">
            <i class="bi bi-grid"></i>
            <span>主页</span>
          </a>
        </li><!-- End Dashboard Nav -->
  
        <li class="nav-item">
          <a class="nav-link" href="user.html">
            <i class="bi bi-person"></i>
            <span>住户管理</span>
          </a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link collapsed" href="newsManage.html">
            <i class="bi bi-layout-text-window-reverse"></i>
            <span>社区新闻</span>
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link collapsed" href="realTime.html">
            <i class="bi bi-bar-chart"></i>
            <span>全国实时数据</span>
          </a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link collapsed" href="communityRealTime.html">
            <i class="bi bi-gem"></i>
            <span>社区实时数据</span>
          </a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link collapsed" href="communityNews.html">
            <i class="bi bi-card-list"></i>
            <span>社区疫情信息</span>
          </a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link collapsed" href="knowledge.html">
            <i class="bi bi-box-arrow-in-right"></i>
            <span>疫情知识</span>
          </a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link collapsed" href="chief.html">
            <i class="bi bi-file-earmark"></i>
            <span>社区负责人员</span>
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link collapsed" href="needs.html">
            <i class="bi bi-question-circle"></i>
            <span>需求反馈</span>
          </a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link collapsed" href="suggest.html">
            <i class="bi bi-envelope"></i>
            <span>意见反馈</span>
          </a>
        </li><!-- End Contact Page Nav -->
      </ul>
  
    </aside><!-- End Sidebar-->


  <main id="main" class="main">

    <div class="pagetitle">
      <h1>居民管理</h1>
    </div><!-- End Page Title -->

    <section class="section" id="user" v-cloak>
      <div class="row">
        <div class="col-lg-15">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">居民管理</h5>

              <div class="search-bar">
                <h4 class="card-title">根据姓名查找:</h4>
                  <input type="text" name="query" placeholder="Search" title="Enter search keyword" v-model="findContent">
                  <button type="submit" title="Search" @click="searchByNamePassword"><i class="bi bi-search"></i></button>
              </div><!-- End Search Bar -->
              <br>
              <!-- Active Table -->
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">姓名</th>
                    <th scope="col">性别</th>
                    <th scope="col">密码</th>
                    <th scope="col">住处</th>
                    <th scope="col">联系电话</th>
                    <th scope="col">保存</th>
                    <th scope="col">删除</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in userArray" @click="userRowClick(item,$event)">
                    <th>{{item.userName}}</th>
                    <th>{{item.userGender}}</th>
                    <th><input type="text" v-model="item.userPassword" @change="userPasswordChange(item.userPassword,$event)" class="col-sm-10 col-form-label"></input></th>
                    <th>{{item.tent+'-'+item.unit+'-'+item.room}}</th>
                    <th>{{item.userTel}}</th>
                    <th><button @click="userUpdateClick" class="btn btn-primary">保存</button></th>
                    <th><button @click="userDeleteClick(item,$event)" class="btn btn-primary">删除</button></th>
                  </tr>
                </tbody>
              </table>
              <!-- End Active Table -->

            </div>
          </div>

        </div>
      </div>
    </section>

<script src="https://unpkg.com/vue@next"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script> 
<script type="module">

  import global from './global.js';
  axios.defaults.baseURL = global.host+":1337";

  var rowUD,newUserPasswordChange;
  const user=Vue.createApp({
    data(){
      return{
        findContent:"",
        userArray:[],
        userName:"",
        userGender:"",
        userPassword:"",
        tent:"",
        unit:"",
        room:"",
        userTel:"",
        }
      },
      methods:{
        searchByNamePassword:function(){
          console.log(this.findContent);
              axios({//得到这个行号原本的数据
                  method: 'get',
                  url: global.host+":1337/api/v1/entrance/userFindByName",
                  params:{
                    userName:this.findContent
                  }
              }).then((response) => {
                console.log(response.data);
                this.userArray=[];
                for(var i=0;i<response.data.length;i++){
                  this.userArray.push({userName:response.data[i].userName,userGender:response.data[i].userGender,
                    userPassword:response.data[i].userPassword,tent:response.data[i].tent,
                    unit:response.data[i].unit,room:response.data[i].room,userTel:response.data[i].userTel});
                }
              })
              .catch((error)=> {
                console.log(error);
              });
        },
        userRowClick:function(item,e){//获取行号
          axios({
              method: 'get',
              url: global.host+":1337/api/v1/entrance/userItem",
              params:{
                userName:item.userName,
                userGender:item.userGender,
                userPassword:item.userPassword,
                tent:item.tent,
                unit:item.unit,
                room:item.room,
                userTel:item.userTel,
              }
          }).then((response) => {
            rowUD=response.data;
            console.log(rowUD);
          })
          .catch((error)=> {
            console.log(error);
          });
        },
        findClick:function(){//查询
          console.log(this.findContent);
          axios({//得到这个行号原本的数据
              method: 'get',
              url: global.host+":1337/api/v1/entrance/userFindByName",
              params:{
                userName:this.findContent
              }
          }).then((response) => {
            console.log(response.data);
            this.userArray=[];
            for(var i=0;i<response.data.length;i++){
              this.userArray.push({userName:response.data[i].userName,userGender:response.data[i].userGender,
                userPassword:response.data[i].userPassword,tent:response.data[i].tent,
                unit:response.data[i].unit,room:response.data[i].room,userTel:response.data[i].userTel});
            }
          })
          .catch((error)=> {
            console.log(error);
          });
        },
        userPasswordChange(newsUserPasswordChanged,e){
          newUserPasswordChange=newsUserPasswordChanged;
        },
        userUpdateClick:function(){//更改
          axios({//得到这个行号原本的数据
              method: 'get',
              url: global.host+":1337/api/v1/entrance/userFindByRow",
              params:{
                row:rowUD
              }
          }).then((response) => {
            if(response.data.userPassword!=newUserPasswordChange){//标题不同时数据库中改变
              axios({
              method: 'get',
              url: global.host+":1337/api/v1/entrance/userUpdate",
              params:{
                userName:response.data.userName,
                userGender:response.data.userGender,
                tent:response.data.tent,
                unit:response.data.unit,
                room:response.data.room,
                userTel:response.data.userTel,
                oldUserPassword:response.data.userPassword,//传回来的值
                newUserPassword:newUserPasswordChange
              }
              }).then((response) => {
                console.log(response);
                location.reload();//网页刷新
              }).catch((error)=> {
                console.log(error);
              });
            }
          })
        },
        userDeleteClick:function(item,e){
            axios({
              method: 'get',
              url: global.host+":1337/api/v1/entrance/userDelete",
              params:{
                userName:item.userName,
                userGender:item.userGender,
                userPassword:item.userPassword,
                tent:item.tent,
                unit:item.unit,
                room:item.room,
                userTel:item.userTel,
              }
          }).then((response) => {
            console.log(response);
            location.reload()//网页刷新
          })
          .catch((error)=> {
            console.log(error);
          });
        }
      },
      mounted(){//打开网页自动加载
          axios({
              method: 'get',
              url: global.host+":1337/api/v1/entrance/userAuto",
          }).then((response) => {
            for(var i=0;i<response.data.length;i++){
              this.userArray.push({userName:response.data[i].userName,userGender:response.data[i].userGender,
                userPassword:response.data[i].userPassword,tent:response.data[i].tent,
                unit:response.data[i].unit,room:response.data[i].room,userTel:response.data[i].userTel});
            }
          })
          .catch((error)=> {
            console.log(error);
          });
        }
    }).mount('#user');
</script>


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="credits">
      Designed by <a href="https://bootstrapmade.com/">Yilia</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.min.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>